<footer>
<div class = "row">
    <!-- <div class= "col-md-3">
        <div class ="row">
            <h4>US.</h4>
        </div>
        <div class= "row">
            <h4>FOODS</h4>
        </div>
     </div> -->
       <!--<img src="" height="" width=""></img>-->
     <div class= "col-md-12 footer-links row d-flex justify-content-center">
               <a href="#" class="right-border right-padding">Terms of Access</a>
        
          
               <a href="#" class="right-border right-padding left-padding">Privacy Policy</a>
           
               <a href="#" class="right-border right-padding left-padding">Customer Policy</a>
           
               <a href="#" class="right-border right-padding left-padding">About this site</a>
          
               <a href="#" class="left-padding">Contact US</a>
           
           
    </div>
</div>
<div class= "row ">
        <div class= "col-md-12 footer-copyright row d-flex justify-content-center">

                <p >2017 US Foods. All Rights Reserved</p>
            
     </div>
</div>
         

</footer>