<div class = "row top-row-header-padding">
    <div class ="col-md-7 row">
        <p class="logo-format">US Foods</p>
        <h2 class="dashboard">ENTERPRISE DASHBOARD</h2>
    </div>
    <div class = "col-md-5 d-flex justify-content-end signout">
        <button type="button" class="btn" >Sign Out</button>
    </div>
</div>
<!-- <div class = "row">
    <div class = "col-md-12" style = "background-color:green;">
        <div class= "col-md-4">
                <p class =".bg-dark">Incidents</p>
        </div>    
    </div>
</div> -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="nav-link active" href="#">INCIDENTS</a>
  </nav>