<app-header></app-header>
<form>
  <div  class ="form-group">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create a new Isuue</li>
          </ol>
        </nav>
    <h1>Create a New Issue</h1>
    <div class ="row">
    <div class = "col-md-4">
      <div class= "desc-details">
          <label>Description Details</label>
      </div>
      <div class="inputbox-container">
        <p>Business Impact Description</p>
        <input type="text" class="form-control business-impact-desc" placeholder ="Delay New Functionality">
    </div>
    </div>
    <div class ="col-md-2">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <p>Dropdown</p>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Internal</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="#">External</a></li>
              </ul>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Internal</button>
              <button class="dropdown-item" type="button">External</button>
            </div> -->
          </div>
      <!-- <select placeholder="status">
        <option value="Resolved">Resolved</option>
        <option value="saab">saab</option>
      </select> -->
    </div>
    <div class ="col-md-2">
        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <p>CSI Priority</p>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button">Internal</button>
              <button class="dropdown-item" type="button">External</button>
            </div>
          </div>
      <!-- <select placeholder ="CIS Priority">
        <option value = "N/A"> N/A</option>
        <option value = "Note">Note</option>
      </select> -->
    </div>
    <div class = "col-md-2">
      <label>Prioirty Variance</label>
      <input type="radio" value="yes"> yes
      <input type="radio" value="No"> No
    </div>
    <div class ="col-md-2 d-flex justify-content-end skypecall">     
          <button type ="button" class ="btn">SKYPE CALL</button>     
    </div>
  </div>
  
  <div class ="row">
    <div class="col-md-6">
        <div class="inputbox-container">
            <p>Issue Description</p>
            <textarea class ="form-control issue-desc" placeholder="Issue Description"></textarea>
        </div>     
      </div>
      <div class="col-md-6">
          <div class="inputbox-container">
              <p>Reason for Variance</p>
              <textarea class="form-control reason-varaince" placeholder="Reason for Variance"></textarea>
          </div> 
      </div>
    </div>    
    <hr>

    <div class ="row">  
      <div class="col-md-6">         
        <h5>Impact Details</h5>
        <div class="row">
            <div class ="col-md-6">
                <input type ="text" class ="form-control" placeholder="Associated Incidents">
             </div>
             <div class ="col-md-6">
               <input type="text" class="form-control" placeholder="Related to changes">
             </div> 
        </div>        
      </div>
      <div class = "col-md-6">
        <h5> CAUSE DETAILS</h5>
        <div class ="row">
          <div class="col-md-6">
             <select value ="Internal/External Cause">
                <option value ="Internal">Internal</option>
                <option value ="External">External</option>
            </select>
          </div>
          <div class ="col-mod-6">
            <select placeholder="Cause Catogory">
              <option value ="Dev Team is Actively Evaluating">Dev Team is Actively Evaluating</option>
                <option value="Prod Team">Prod Team is Actively Evaluating</option> 
            </select>
          </div>
        </div>
      </div>
    </div>
      
    <div class ="row">  
      <div class= "col-md-6">
        <div class ="form-group">
         <input type ="text" class="form-control" placeholder="Project Codes" name="Fort Mill WareHouse Expansion">
        </div>
      </div>
      <div class ="col-md-6">
        <div class="row">
            <textarea class="form-control" placeholder="Route Cause Description"></textarea>
        </div>
      </div>
    </div>
    
    <div class="row">  
      <div class ="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <select placeholder= "Functional Area Impacted">
              <option value="Transportaion">Transportation</option>
              <option value= "Finance">Finance</option>
            </select>
          </div>
          <div class ="col-md-3">
            <select placeholder= "APM Tier">
              <option num= "2">2</option>
              <option num= "4">4</option>
            </select>
          </div>
        </div>
      </div>
      <div class ="col-md-6">
        <div class= "row" style ="background-color:grey"> 
          <hr>
        </div>
      </div>
    </div>
    
    <div class ="row">
      <div class ="col-md-6">
        <div class= "row">
          <div class= "col-md-12">
              <input type= "text" class= "form-control" placeholder= "Services Impacted">
          </div>
        </div>       
      </div>
      <div class ="col-md-6">
        <div class ="row">
          <div class ="col-md-4">
            <h5>REMEDIATION DETAILS</h5>
          </div>
        </div>
      </div>
    </div>
    
    <div class ="row">
      <div class ="col-md-6">
        <div class= "row">
          <div class="col-md-3">
              <button type="button" class="form-control">
                  <span class="glyphicon glyphicon-time">Issue date</span>
                </button>
          </div>
          <div class= "col-md-3">
              <button type="button" class="form-control">
                  <span class="glyphicon glyphicon-time">End date</span>
                </button>
          </div>
          <div class = "col-md-3">
            <input type= "text" class= "form-control" placeholder= "Start Time">
          </div>
          <div class= "col-md-3">
            <input type= "text" class= "form-control" placeholder= "End Time">
          </div>
        </div>
      </div>
      <div class = "col-md-6">
        <div class= "row">
          <div class= "col-md-4">
            <label>Remediation Implemented</label>
            <input type= "radio" value= "Yes">Yes
            <input type= "radio" value= "No"> No
          </div>
        </div>
      </div>
    </div>

    <div class= "row">
      <div class= "col-md-6">
        <div class= "row">
          <div class= "col-md-3">
            <label>Sporadic Impact</label>
            <input type= "radio" value= "Yes">Yes
            <input type= "radio" value= "No">No
          </div>
          <div class= "col-md-3">
            <input type= "text" class= "form-control" placeholder= "Time to Resolution">
          </div>
        </div>
      </div>
      <div class= "col-md-6">
        <div class= "row">
          <div class= "col-md-6">
            <input type= "text" class= "form-control" placeholder= "Action Owner">
          </div>
        </div>
      </div>
    </div>

    <div class= "row">
      <div class = "col-md-6">
        <div class= "row">
          <div class= "col-md-3">
            <label>Enterprise Wide</label>
            <input type= "radio" value= "Yes">Yes
            <input type= "radio" value= "No">NO
          </div>
          <div class= "col-md-3">
            <select placeholder= "Locations Impacted">
              <option value= "Fort Mill">Fort Mill</option>
              <option value= "Denver">Dallas</option>
              <option value= "New York">NewYork</option>
              <option value= "Tempe">Tempe</option>
            </select>
          </div>
        </div> 
        </div>
        <div class= "col-md-6">
            <div class= "row">
              <div class= "col-md-6">
                <textarea class= "form-control" rows= "5" placeholder= "Actions Taken"></textarea>
              </div>
            </div>
      </div>
      
    </div>
  </div>
  <div class= "row">
    <hr>
 </div>
 
 <div class= "row">
     <div class = "col-12.col-md-4">
         <button type = "button" class= "form-control">Cancel</button>
     </div>
     <div class= "col.12.col-md-8">
         <button type= "button" class="btn btn-success">SUBMIT</button>
     </div>
 </div>
</form>
<app-footer></app-footer>

